# Dependencies
node_modules/

# Build output
dist/
release/

# Electron
out/

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Secrets
src/main/google-drive/credentials.json

# Misc
*.tsbuildinfo
